[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
social-auth-app-django = "*"
python-jose = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
