.base-page img {
  width: 20em;
}

.base-page-name {
  font-size: 2em;
  padding: 0.5rem;
}

.base-page-score {
  font-size: 5em;
  padding: 1rem;
}

.base-members {
}

.yellow {
  color: rgb(255, 217, 0);
}
