.nav-bases {
  background-color: rgb(240, 240, 240);
  width: 7em;
  height: 100vh;
}

.nav-bases-item {
  height: 7em;
  width: 7em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bases-item:hover {
  background-color: rgb(248, 248, 248);
}

.circle-icon {
  border-radius: 50%;
  border-style: none;
}

.nav-bases img {
  width: 5em;
  height: 5em;
}

#selected {
  background-color: white;
}
