#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: rgba(41, 41, 41, 0.603);
}

.modal-container {
  background-color: white;
  width: 600px;
  height: 400px;
  margin: auto;
}

.modal-contents {
  font-size: 100px;
}
